<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    //*background-image: url(http://placekitten.com/1920/1080);*/
  }
</style>

<body>


  <app-inputform></app-inputform>
</body>


<!--

<mat-toolbar>
  <span>荷物追跡サービス</span>
  <span>
    <a mat-button routerLink="" class="header-button">対応サービス</a>
  </span>
  <span>
    <a mat-button routerLink="" class="header-button">Exchanges</a>
  </span>
</mat-toolbar>


<button mat-button>Basic</button>
<button mat-button color="primary">Primary</button>
<button mat-button color="accent">Accent</button>
<button mat-button color="warn">Warn</button>
<button mat-button disabled>Disabled</button>






<mat-card>
<form class="example-form">
  <div>検索したい追跡番号を入力してください</div>
  <mat-form-field class="example-full-width">
    <mat-label>追跡番号</mat-label>
    <input matInput placeholder="ここに追跡番号を入力">
  </mat-form-field>

  <button mat-button color="primary">検索</button><button mat-button color="primary">検索</button>
  <mat-chip-list><mat-chip>日本郵便</mat-chip><mat-chip>ヤマト運輸</mat-chip><mat-chip>佐川急便</mat-chip><mat-chip>Papadum</mat-chip></mat-chip-list>
  </form>
</mat-card>


<br><br>
<br><br>
<br><br>
<app-stepper></app-stepper>

-->
