.custom.mat-card{
  height: 400px;
  width: 30%;
  max-width: 450px;
  min-width: 400px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

mat-form-field{
  display: flex;
  flex-direction: column;
}

.button{
  margin: 0 0 0 auto;
}
.center{
  text-align: center;
}

.B{
  font-size:x-large ;
  color: #292929;
}

.right {
  float: right;
}

.margin{
  margin: 20px;
}
