
  <mat-card class="custom"><div class="margin">
   SAMPLE<div class="B"appearance="outline">追跡番号検索</div>
<div appearance="outline">このページからお荷物の追跡できます。ハイフンは入力しても認識されます。</div>

<br>

    <mat-form-field appearance="outline">
      <mat-label>追跡番号を入力</mat-label>
      <input matInput placeholder="貼り付けて探してみましょう" [formControl]="email">
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
        <button mat-raised-button color="primary" class="right">　検索　</button>
      </div>
  </mat-card>
